{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl" >
<head>
    <title>Simplex</title>
    <!--   ايقونة الموقع  -->
    <link rel="shortcut icon" href="{% static "images/sq-logo.png" %}" type="image/x-icon">

    <!-- الميتا  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- ملفات css -->
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">                               
    <link rel="stylesheet" href="{% static "css/style.css" %}">                               
    <link rel="stylesheet" href="{% static "css/basic.css" %}">   

    <style>
        {% comment %} ادراج صور لوجو الموقع {% endcomment %}
        :root {
            --dark-logo: url("{% static 'images/d-long-logo.png' %}");
            --light-logo: url("{% static 'images/l-long-logo.png' %}");
        }
    </style>
    
    <!-- الايقونات  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"> 

    <!-- الخطوط المستخدمة بالتصميم -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    
    {% block page_head %}{% endblock page_head %}

</head>
<body>
    <!-- Start Header  -->
    {% include "partials/header.html" %}
    <!-- End Header  -->

    <main class="container">
        {% block content %}{% endblock content %}

        <!-- Start Toast -->
        {% include "common/toast.html" %}
        <!-- End Toast -->
    
    </main>

    <!-- Start Footer -->
    {% include "partials/footer.html" %}
    <!-- End Footer -->
    
    {% block out_container %}{% endblock out_container %}
    
    {% if messages %}
        {% for message in messages %}
            {% if "success" in message.tags %}
                <script>
                    showToast('success-toast', "{{ message|escapejs }}");
                </script>
            {% elif "error" in message.tags %}
                <script>
                    showToast('failed-toast', "{{ message|escapejs }}");
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}


    <script src="{% static "js/script.js" %}"></script>
    {% block page_scripts %}{% endblock %}

</body>
</html>