{% load static %}

<footer>

    <div class="footer-main">
        <div class="footer-brand">
            <div class="footer-logo">
                <img src="{% static "images/d-long-logo.png" %}" alt="logo" width="120" height="40"  draggable="false">
            </div>
            <p> 
                منصة لإدارة متجرك بكل سهولة. 
                <br>
                منتجات، طلبات، عملاء، وتقارير في مكان واحد.
            </p>
            <div class="footer-social">
                <a class="facebook" href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a class="tiktok" href=""><i class="fa-brands fa-tiktok"></i></a>
                <a class="messenger" href=""><i class="fa-brands fa-facebook-messenger"></i></a>
                <a class="whatsapp" href=""><i class="fa-brands fa-whatsapp"></i></a>
                <a class="youtube" href=""><i class="fa-brands fa-youtube"></i></a>
            </div>            
        </div>
        <div class="footer-features">
            <h2 class="section-title">المميزات</h2>
            
            <div class="features">

                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="fa-solid fa-shield-halved secure"></i>
                    </div>
                    <div class="feature-content">
                        <h3>آمن و موثوق</h3>
                        <p>حماية بياناتك بأعلى معايير الآمان</p>
                    </div>

                </div>

                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="fa-solid fa-headset support"></i>
                    </div>
                    <div class="feature-content">
                        <h3>دعم 24 ساعة</h3>
                        <p>فريق الدعم جاهز لمساعدتك</p>
                    </div>

                </div>

                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="fa-solid fa-rocket evolution"></i>
                    </div>
                    <div class="feature-content">
                        <h3>تطوير مستمر</h3>
                        <p>نضيف ميزات جديدة بإستمرار</p>
                    </div>

                </div>
            </div>

        </div>
        <div class="footer-links">
            <h2 class="section-title">روابط سريعة</h2>
            <ul>
                <li><a class="link-btn" href="">
                    <div class="link-title"><i class="fa-solid fa-book-open"></i> من نحن   </div>
                    <i class="fa-solid fa-angles-left"></i>
                </a></li>
                <li><a class="link-btn" href="">
                    <div class="link-title"><i class="fa-solid fa-handshake"></i> شروط الخصوصية</div>
                    <i class="fa-solid fa-angles-left"></i>
                </a></li>
                <li><a class="link-btn" href="">
                    <div class="link-title"><i class="fa-solid fa-phone"></i> تواصل معنا</div>
                    <i class="fa-solid fa-angles-left"></i>
                </a></li>
            </ul>
        </div>
    </div>

    <div class="footer-copyright">
        جميع الحقوق محفوظة لمنصة سيمبليكس
        <br>
        © 2026 SIMPLEX.
    </div>
    
</footer>