{% load static %}

<dialog id='delete_order_item_dialog' > 
    <form id="delete_order_items_form" method="POST" data-url="{% url 'orders:delete_order_item' 0 %}">
        {% csrf_token %}
        <input type="hidden" name="order_item_id" id="delete-order-item-id">

        <div class="logo-image">
            <img src=" {% static "images/d-long-logo.png" %} " alt="logo" width="120" height="80"  draggable="false">
        </div>

        <div class="dialog-content">
            <h3 class="dialog-title"> تحذير </h3>
            <p>هل انت متأكد من رغبتك بإزالة المنتج: <span class="cancel" id="delete-order-item-name"></span> من الطلب بشكل نهائي؟ </p>
            <br>
            {% comment %} #change-later التنسيق سيئ و مو عاجبني {% endcomment %}
            <p> بمجرد الضغط على زر "إزالة"، سيتم إزالة هذا المنتج من الطلب نهائيًا، ولن تتمكن من التراجع عن هذه العملية</p>
        </div>

        <div class="dialog-actions">
            <button type="button" onclick="delete_order_item_dialog.close()">تراجع</button>
            <button class="remove-btn" type="submit"> إزالة</button>
        </div>
        
    </form>
</dialog>


<script src="{% static "js/orders/edit_order_item.js" %}"></script>
