{% comment %} صفحة معلومات الحساب  {% endcomment %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            text-align: center;
            direction: rtl;
            padding: 50px;
            height: 100vh;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="{% url 'accounts:account_list' %}">العودة الى قائمة الحسابات</a>
        <h2>بيانات حسابي</h2>
        <p> الاسم: <span id="show_name" > {{ vendor.name }} </span></p>
        <p> المعرف: <span id="show_username" > {{ vendor.user.username }} </span></p>
        <p> مستوى الصلاحيات: <span> {{ vendor.get_permission_level_display }} </span></p>
        
        <button onclick="edit_account.showModal()" >تعديل</button>
        {% include "components/accounts/dialogs/account_edit_dialogs.html" %}

    </div>

    {% include "common/toast.html" %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/accounts/accounts.js' %}"></script>
</body>
</html>