{% comment %} صفحة انشاء حساب  {% endcomment %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            text-align: center;
            direction: ltr;
            padding: 50px;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>هذه صفحة انشاء حساب </p>
        <form method="POST" id="signup-form" data-check-username-url="{% url 'accounts:check_username' %}" data-check-phone-url="{% url 'accounts:check_phone_number' %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div style="color:red;">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div style="padding:20px; background-color:#f5f5dc; margin-bottom:20px;">
                <p>بياناتك الشخصية</p>
                <!-- اليوزرنيم -->
                <div style="margin-bottom: 15px; background-color:green;">
                    <label for="username">المعرف</label> 
                    <input type="text" id="username" name="username" placeholder="{{form.username.field.widget.attrs.placeholder}}" required>
                    <div id="username-feedback" style="font-size:14px; background-color:#f5f5dc; "></div>
                    <p style="padding:5px; display:inline-block; font-size:14px; color:black; background-color:#f5f5dc; " >{{ form.username.field.help_text }}</p>
                    {% if form.username.errors %}
                        <div style="padding:5px; background-color:red; color:white;">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                <!-- الاسم -->
                <div  style="margin-bottom: 15px; background-color:green;">
                    <label for="{{ form.name.id_for_label }}"> {{form.name.label}}</label>
                    {{form.name}}
                    <br>
                    <p style="padding:5px; display:inline-block; font-size:14px; color:black; background-color:#f5f5dc; " >{{ form.name.field.help_text }}</p>
                    {% if form.name.errors %}
                        <div style="padding:5px; background-color:red; color:white;">{{ form.name.errors }}</div>
                    {% endif %}
                </div>
                <!-- كلمة السر -->
                <div  style="margin-bottom: 15px; background-color:green;">
                    <label for="{{ form.password.id_for_label }}"> {{form.password.label}}</label>
                    {{form.password}}
                    <br>
                    <p style="padding:5px; display:inline-block; font-size:14px; color:black; background-color:#f5f5dc; ">{{ form.password.field.help_text }}</p>
                    {% if form.password.errors %}
                        <div style="padding:5px; background-color:red; color:white;">{{ form.password.errors }}</div>
                    {% endif %}
                </div>
                <!-- تأكيد كلمة السر -->
                <div  style="margin-bottom: 15px; background-color:green;">
                    <label for="{{ form.confirm_password.id_for_label }}"> {{form.confirm_password.label}}</label>
                    {{form.confirm_password}}
                    {% if form.confirm_password.errors %}
                        <div style="padding:5px; background-color:red; color:white;">{{ form.confirm_password.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div style="padding:20px; background-color:#f5f5dc; margin-bottom:20px;">
                <p>بيانات متجرك</p>
                <!-- اسم المتجر -->
                <div  style="margin-bottom: 15px; background-color:green;">
                    <label for="{{ form.store_name.id_for_label }}"> {{form.store_name.label}}</label>
                    {{form.store_name}}
                    <br>
                    <p style="padding:5px; display:inline-block; font-size:14px; color:black; background-color:#f5f5dc; ">{{ form.store_name.field.help_text }}</p>
                    {% if form.store_name.errors %}
                        <div style="padding:5px; background-color:red; color:white;">{{ form.store_name.errors }}</div>
                    {% endif %}
                </div>
                <!-- رقم الهاتف -->
                <div  style="margin-bottom: 15px; background-color:green;">
                    <label for="{{ form.phone_number1.id_for_label }}"> {{form.phone_number1.label}}</label>
                    <input type="text" id="phone_number1" name="phone_number1" placeholder="{{form.phone_number1.field.widget.attrs.placeholder}}" required>
                    <div id="phone_number1-feedback" style="font-size:14px; background-color:#f5f5dc; "></div>
                    <br>
                    <p style="padding:5px; display:inline-block; font-size:14px; color:black; background-color:#f5f5dc; ">{{ form.phone_number1.field.help_text }}</p>
                    {% if form.phone_number1.errors %}
                        <div style="padding:5px; background-color:red; color:white;">{{ form.phone_number1.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <p>عند النقر على انشاء حساب هذا يعني انك توافق على الشروط والاحكام</p>
            <button type="submit">انشاء حساب</button>

        </form>
    </div>
    <script>
        const form = document.getElementById("signup-form");
        const usernameInput = document.getElementById("username");
        const phoneNumberInput = document.getElementById("phone_number1");
        const usernameFeedback = document.getElementById("username-feedback");
        const phoneNumberFeedback = document.getElementById("phone_number1-feedback");
        const checkUsernameUrl =  form.dataset.checkUsernameUrl;
        const checkPhoneNumberUrl =  form.dataset.checkPhoneUrl;
        let isValidUsername = false;
        let isValidPhoneNumber = false;

        // التحقق من صلاحية المعرف أثناء الكتابة
        usernameInput.addEventListener("keyup", async function () {
            isValidUsername = await validateUsername(this, usernameFeedback, checkUsernameUrl);
        });

        // التحقق من صلاحية رقم الهاتف أثناء الكتابة
        phoneNumberInput.addEventListener("keyup", async function () {
            isValidPhoneNumber = await validatePhoneNumber(this, phoneNumberFeedback, checkPhoneNumberUrl);
        });

        // اعادة التحقق من صلاحية المعرف ورقم الهاتف عند تقديم النموذج
        form.addEventListener("submit", async function (event) {
            const isValidUsername = await validateUsername(
                usernameInput,
                usernameFeedback,
                checkUsernameUrl
            );
            const isValidPhoneNumber = await validatePhoneNumber(
                phoneNumberInput,
                phoneNumberFeedback,
                checkPhoneNumberUrl
            );
            if (!isValidUsername) {
                event.preventDefault();
                usernameFeedback.innerText = "الرجاء اختيار معَرف صالح اولاً .";
                usernameFeedback.style.color = "red";
            }
            if (!isValidPhoneNumber) {
                event.preventDefault();
                phoneNumberFeedback.innerText = "الرجاء اختيار رقم هاتف صالح اولاً .";
                phoneNumberFeedback.style.color = "red";
            }
        });
    </script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/accounts/accounts.js' %}"></script>
</body>
</html>