{% comment %} صفحة انشاء حساب  {% endcomment %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            text-align: center;
            direction: ltr;
            padding: 50px;
            height: 100vh;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>هذه صفحة انشاء حساب </p>
        <form method="POST" id="signup-form">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div style="color:red;">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div>
                <label>المعرف</label>
                <input type="text" id="username" name="username" required>
                <div id="username-feedback" style="font-size:14px;"></div>
            </div>
            {% for field in form %}
                {% if field.name != 'username' %}
                    <div>
                        <label>{{ field.label }}</label>
                        {{ field }}

                        {% if field.errors %}
                            <div style="color:red; font-size: 14px;">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

            {% endfor %}

            <button type="submit">انشاء حساب</button>
        </form>
    </div>
    <script>
        
        const feedback = document.getElementById("username-feedback");
        const form = document.getElementById("signup-form");
        
        const usernameInput = document.getElementById("username");
        const checkUsernameUrl = "{% url 'accounts:check_username' %}";
        let timeout = null;
        let isValidUsername = false;
        // التحقق من صلاحية المعرف أثناء الكتابة
        usernameInput.addEventListener("keyup", async function () {
            isValidUsername = await validateUsername(this, checkUsernameUrl);
        });
        form.addEventListener("submit", function (event) {
            if (!isValidUsername) {
                event.preventDefault();
                feedback.innerText = "الرجاء اختيار معَرف صالح اولاً .";
                feedback.style.color = "red";
            }
        });
    </script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/accounts.js' %}"></script>
</body>
</html>