{% comment %} صفحة معلومات الحساب  {% endcomment %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            text-align: center;
            direction: rtl;
            padding: 50px;
            height: 100vh;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container">
        {% comment %} المتجر {% endcomment %}
        <div> 
            <h2>تفاصيل المتجر</h2>     
            <a href="{% url 'accounts:account_list' %}">العودة الى قائمة الحسابات</a>
        </div>
        {% comment %} بيانات المتجر واللوجو {% endcomment %}
        <div>
            <h3> بيانات المتجر</h3>
            <div style="background-color:#f5f5dc; margin-bottom:10px; padding:10px; position:relative;">
                <div style="background-color: white;  position:absolute; top: 10px; left: 10px;"> 
                    <img id="store_logo" src="{{ store.logo.url }}" style="width: 100px; height: 100px; display:block;">
                    <button onclick="logo_dialog.showModal()" ><i>تعديل</i></button>
                </div>    
                <p id="store_name">{{ store.name }}</p>
                <hr>
                <p id="store_location">{% if store.location %}{{ store.location }}{% else %}لم تتم الاضافة بعد{% endif %}</p>
                <hr>
                <button onclick="basic_dialog.showModal()" ><i>تعديل</i></button>
            </div>
        </div>
        {% comment %} حسابات المتجر الاجتماعية {% endcomment %}
        <div>
            <h3>حسابات المتجر الاجتماعية</h3>
            <button onclick="social_dialog.showModal()" ><i>تعديل</i></button>
            <div style="background-color:#f5f5dc; margin-bottom:10px; padding:10px;">   
                {% comment %} #change-later ضيف ايقونة جلب كل موقع تواصل ورابط يودي عند النقر عليه للموقع  وكمان عدل طريقة عرض الرابط بحيث يعرض طول معين مايتجاوزه {% endcomment %}
                <p id="store_phone_number1">{{ store.phone_number1 }}</p>
                <hr>
                <p id="store_telegram">{% if store.telegram %}{{ store.telegram }}{% else %}لم تتم الاضافة بعد{% endif %}</p>
                <hr>
                <p id="store_facebook">{% if store.facebook %}{{ store.facebook }}{% else %}لم تتم الاضافة بعد{% endif %}</p>
                <hr>
                <p id="store_instagram">{% if store.instagram %}{{ store.instagram }}{% else %}لم تتم الاضافة بعد{% endif %}</p>
                <hr>
                <p id="store_tiktok">{% if store.tiktok %}{{ store.tiktok }}{% else %}لم تتم الاضافة بعد{% endif %}</p>
                <hr>
            </div>
        </div>

        {% include "components/accounts/dialogs/store_edit_dialogs.html" %}

        {% comment %} الموظفين {% endcomment %}
        <div> 
            <h2>موظفين المتجر</h2>     
            <p>{% lorem 90 w random %}</p> <!-- نبذة عن الموظفين وفائدتهم وصلاحياتهم -->
            {% if owner and counts < 5 %} <!-- اذا كان المستخدم مالك المتجر وعدد الموظفين اقل من او يساوي 5 اعرض زر اضافة موظف  -->
                <button onclick="add_employee_dialog.showModal()" >اضافة موظف</button>
            {% endif %}
            {% if employees %}
                <p>عدد الموظفين: {{ counts }}\5</p>
                <ul style="list-style-type: none; padding: 0;">
                    {% for employee in employees %}
                        <li style="margin-bottom: 20px; border: 1px solid #ccc; padding: 5px; border-radius: 5px;">
                            <p>اسم الموظف: <span>{{ employee.name }}</span></p>
                            <p>المعرف: <span>{{ employee.user.username }}</span></p>
                            <p>مستوى الصلاحيات: <span>{{ employee.get_permission_level_display }}</span></p>
                            {% comment %} يجب ان يكون المستخدم مالكً وبنفس الوقت لايستطيع تعديل او حذف نفسه  {% endcomment %}
                            {% if owner and request.user.id != employee.user.id  %}
                                <button onclick="openEditDialog(this)" data-id="{{ employee.id }}" data-name="{{ employee.name }}" >تعديل الصلاحيات </button>                                
                                <button onclick="openDeleteDialog(this)"  data-id="{{ employee.id }}" data-name="{{ employee.name }}" >حذف الموظف </button>                                
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>لا يوجد موظفين في المتجر بعد.</p>
            {% endif %}
        </div>

        {% include "components/accounts/dialogs/employee_dialogs.html" %}

    </div>

    {% include "common/toast.html" %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/accounts/accounts.js' %}"></script>

</body>
</html>