<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            text-align: center;
            direction: rtl;
            padding: 50px;
            height: 100vh;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 >قائمة المراجعات </h1>

        <div style="padding:20px; background-color:#f5f5dc; margin-bottom:20px;">
            {% if stores > 0 %}
                <p style="color:red; display:inline-block;"> {{ stores }} متاجر في انتظار المراجعة</p>
                <a href="{% url 'management:stores_to_review' %}" style=" background-color:#4CAF50; color:white; padding:10px; text-decoration:none; border-radius:5px;">==></a>
            {% else %}
                <p style="color:green; display:inline-block;"> لا توجد متاجر في انتظار المراجعة</p>
            {% endif %}
        </div>

        <div style="padding:20px; background-color:#f5f5dc; margin-bottom:20px;">
            {% if products > 0 %}
                <p style="color:red; display:inline-block;"> {{ products }} منتجات في انتظار المراجعة</p>
                <a href="{% url 'management:products_to_review' %}" style=" background-color:#4CAF50; color:white; padding:10px; text-decoration:none; border-radius:5px;">==></a>
            {% else %}
                <p style="color:green; display:inline-block;"> لا توجد منتجات في انتظار المراجعة</p>
            {% endif %}
        </div>

        <div style="padding:20px; background-color:#f5f5dc; margin-bottom:20px;">
            {% if orders > 0 %}
                <p style="color:red; display:inline-block;"> {{ orders }} طلبات في انتظار التحقق</p>
                <a href="{% url 'management:orders_to_review' %}" style=" background-color:#4CAF50; color:white; padding:10px; text-decoration:none; border-radius:5px;">==></a>
            {% else %}
                <p style="color:green; display:inline-block;"> لا توجد طلبات في انتظار التحقق</p>
            {% endif %}
        </div>
        

    </div>
</body>
</html>