/* ملف يستعمل فقط بصفحات الفواتير والطلبات  */
/* ═══════════════════════════════════════════════════════
    تنسيق عنوان صفحة الطلب + الفاتورة
═════════════════════════════════════════════════════════ */
.section-header .section-content .section-icon  {
    background-color: var(--primary-background);
    padding: 6px 10px ;
    border: 1px solid var(--seprator-color);
}
.sn {
    color: var(--gray-color);
    font-size: calc(1em - 2px);
    white-space: nowrap;
}
.details .details-header {
    padding: 15px 10px;
}
/* ═══════════════════════════════════════════════════════
    Notice Section
═════════════════════════════════════════════════════════ */
.details .details-list .notice {
    margin-top: 0px ;
}
.notice .notice-content .notice-text {
    font-size: calc(1em - 4px);
}
.notice .notice-icon {
    display: block !important;
}
/* ═══════════════════════════════════════════════════════
    Details List Section
═════════════════════════════════════════════════════════ */
.details .details-list {
    background-color: var(--secondary-background);
    padding-top: 5px;
}
.details .details-item {
    display: flex;
    align-items: center;
    gap: 5px 15px;
    padding: 10px 15px;
    border-bottom: 1px solid var(--seprator-color);
}
.details .details-item .notice {
    margin: 10px auto;
    width: 100%;
}
.details .details-item:last-child {
    border-bottom: none;
}
/* الأيقونة */
.details .details-item .details-icon {
    width: 36px;
    height: 36px;
    min-width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: calc(1em + 6px);
}
@media (min-width:500px) {
    .details .details-item .details-icon {
        width: 42px;
        height: 42px;
        min-width: 42px;
    }
}
.details .blue {
    background: var(--blue-background);
    color: var(--blue-color);
}
.details .red {
    background: var(--red-background);
    color: var(--red-color);
}
.details .yellow {
    background: var(--yellow-background);
    color: var(--yellow-color);
}
.details .green {
    background: var(--green-background);
    color: var(--green-color);
}
.details .purple {
    background: var(--purple-background);
    color: var(--purple-color);
}
/* اسم المعلومة */
.details .details-item .details-label {
    flex: 1;
    color: var(--gray-color);
    font-size: 1em;
    font-weight: 500;
}
/* القيمة */
.details .details-item .details-value {
    font-size: calc(1em + 1px);
    font-weight: 600;
    color: var(--main-text-color);
    text-align: center;
    line-height: 1.4;
}
.details .details-item:has( .details-value.long-value ) {
    flex-wrap: wrap;
}
.details .details-item .details-value.long-value {
    text-align: right;
    margin-right: 10px;
}
.details .details-item .details-value.date  {
    font-size: calc(1em - 2px);
}
.details .details-item .details-value .status-value {
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* ═══════════════════════════════════════════════════════
    Details Form
═════════════════════════════════════════════════════════ */
.details .notice {
    margin: 5px 5px 0;
}
.details .details-item .details-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.details .details-item .details-form .field {
    margin: 10px 0;
    max-width: unset;
}
.details .details-item .details-form .form-btns {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}
.details .details-item .details-form .form-btns .btn {
    background-color: transparent;
    padding: 7px 10px;
    color: var(--main-text-color);
    border: 1px solid var(--seprator-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
} 

/* ═══════════════════════════════════════════════════════
    Details Table
═════════════════════════════════════════════════════════ */
.details-table {
    padding-top: 10px;
    border-top: 1px solid var(--seprator-color);
    margin-top: 20px;
}
.details-table .title-wrapper {
    user-select: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details-table .title-wrapper button {
    background-color: transparent;
    color: var(--primary-color);
    padding: 5px 10px;
    font-size: calc(1em - 4px);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}
.details-table .title-wrapper button:active , .details-table .title-wrapper button:hover {
    background-color: var(--primary-background);
    color: var(--primary-color);
}
.details-table h4 {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}
@media (min-width:500px) {
    .details-table .title-wrapper button {
        font-size: calc(1em - 2px);
    }
    .details-table h4 {
        font-size: 16px;
    }
}
/* ═══════════════════════════════════════════════════════
    buttons  Section
═════════════════════════════════════════════════════════ */
.edit-btn , .view-btn {
    background-color: transparent;
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.edit-btn {
    padding: 5px 10px;
}
.view-btn {
    padding: 5px;
}
.edit-btn:hover , .view-btn:hover{
    color: #fff;
    background-color: var(--blue-color);
    border-color: var(--blue-background);
}
/* ═══════════════════════════════════════════════════════
    Redirect button Section
═════════════════════════════════════════════════════════ */
.redirect-btn {
    font-size: 14px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    user-select: none;
    background: transparent;
    margin: 10px auto 0;
    padding: 10px 15px;
    color: var(--gray-color);
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}
.redirect-btn:hover {
    color: #fff;
    background-color: var(--gray-color);
}
