{% comment %} صفحة المتجر الرئيسية {% endcomment %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            text-align: center;
            direction: rtl;
            padding: 50px;
            height: 100vh;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 >مرحبا</h1>
        <p>هذه صفحة المتجر الرئيسية </p>
        <a href="{% url 'accounts:account_list' %}">ادارة حسابي</a>
        <a href="{% url 'store:show_products' %}">عرض المنتجات</a>
    </div>
    
</body>
</html>