{% comment %} صفحة المتجر الرئيسية {% endcomment %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            text-align: center;
            direction: rtl;
            padding: 50px;
            height: 100vh;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>هذه صفحة المنتج التي تظهر للزبون </p>
        <p> اسم المنتج <span> {{ product.name }} </span> </P>
        <p> وصف المنتج <span> {{ product.description }} </span> </P>
        <p> السعر <span> {{ product.get_price }} </span> </P>
        <p> توصيل مجاني  <span> {{ product.free_delivery }} </span> </P>
        <p> النوع  <span> {{ product.type }} </span> </P>
        <p> التصنيف  <span> {{ product.gender }} </span> </P>
        <p>  المتجر <span> {{ product.store.name }} </span> </P>
        <img src="{{ product.thumbnail_img.url }}" width="200" height="200" alt="{{ product.name }}">   
        {% for img in product_images  %}
        <div style="background-color:gray; margin:10px; padding:10px;">
            <p> الترتيب <span> {{ img.priority }} </span> </p>
            <img src="{{ img.image.url }}" width="200" height="200" alt="{{ product.name }}"> 
        </div>  
        {% endfor %}
    </div>
</body>
</html>