<div class="panel add-item-panel">

    <div class="panel-header">
        <h4><i class="fa-regular fa-square-plus primary-cl"></i> إضافة منتج للطلب </h4>
        <p>ابحث عن المنتج الذي تريد إضافته ثم قم بإختياره</p>
    </div>

    <form id="add_order_items_form" method="POST" data-url="{% url 'orders:add_order_item' order.id %}" class="panel-content">
        {% csrf_token %}
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" name="search" id="product-search" class="search-input" autocomplete="off"
                data-search-url="{% url "orders:search_products" oid=order.id %}"
                placeholder="ابحث عن طريق اسم المنتج" 
            >
            <button type="submit">بحث</button>
        </div>

        <div class="search-results" id="search-results"  data-product-button-type="add-to-order">
            <!-- سيتم عرض نتائج البحث هنا -->    
            
        </div>

    </form>

    <div class="panel-actions">
        <button type="button" onclick="toggleMenu(this, '.add-item-panel')" class="action-btn" >إلغاء</button>
    </div>

</div>