{% extends "partials/base.html" %}
{% load static %}

{% block page_head %}
    <link rel="stylesheet" href="{% static "css/tables.css" %} ">         
    <link rel="stylesheet" href="{% static "css/fields.css" %} ">      
    <link rel="stylesheet" href="{% static "css/orders.css" %} ">         
{% endblock page_head %}

{% block content %}

    <div class="section-header">
        <div class="section-content">
            <div class="section-icon order">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="section-details">
                <h1>إنشاء طلب</h1>
                <p>أضف المنتجات، ثم أدخل بيانات الزبون لإتمام الطلب.</p>
            </div>
        </div>
    </div>

    <div class="panel add-item-panel open ">

        <div class="panel-header">
            <h4><i class="fa-regular fa-square-plus primary-cl"></i> إضافة منتج </h4>
            <p>ابحث عن المنتج الذي تريد إضافته ثم قم بإختياره</p>
        </div>

        <form id="add_order_items_form" method="POST" data-url="" class="panel-content">
            {% csrf_token %}
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="search" id="product-search" class="search-input" autocomplete="off"
                    data-search-url="{% url "orders:search_products" sid=store.id %}"
                    placeholder="ابحث عن طريق اسم المنتج" 
                >
                <button type="submit">بحث</button>
            </div>

            <div class="search-results" id="search-results"  data-product-button-type="add-to-cart">
                <!-- سيتم عرض نتائج البحث هنا -->    
                
            </div>

        </form>


    </div>

    <form id="cart_form" hidden>

        <div class="cart-section ">
            <div class="cs-header">
                <i class="fa-solid fa-cart-shopping"></i>
                <h4>المنتجات في السلة <span id="cart-count">(0)</span></h4>
            </div>
            <div class="cs-body" id="cart-items" >

            </div>
            {% comment %} القالب الخاص ببطاقة عنصر السلة {% endcomment %}
            <template id="cart-item-template">
                <div class="cart-item">

                    <img class="item-image" src="{% static "images/deafult.jpg" %}" alt="صورة المنتج">

                    <div class="item-info">
                        <h5 class="item-name"></h5>

                        <div class="item-options">
                            <span class="item-color"></span>
                            <span class="item-size"></span>
                        </div>
                    </div>

                    <div class="item-quantity">
                        <span>الكمية</span>
                        <strong class="item-qty"></strong>
                    </div>

                    <div class="item-price">
                        <span>السعر</span>
                        <strong>
                            <span class="item-price-value"></span>
                            <span class="currency">د.ل</span>
                        </strong>
                    </div>

                    <div class="item-total">
                        <span>الإجمالي</span>
                        <strong>
                            <span class="item-total-value"></span>
                            <span class="currency">د.ل</span>
                        </strong>
                    </div>

                    <button
                        class="remove"
                        type="button"
                        aria-label="حذف المنتج"
                    >
                        <i class="fa-solid fa-trash"></i>
                    </button>

                </div>
            </template>
            
        </div>

        {% if form.errors %}
            <div class="field-errors">
                يرجى تصحيح الأخطاء قبل اعادة حفظ التعديلات.
            </div>
        {% endif %}

        <div class="cart-section">
            <div class="cs-header">
                <i class="fa-solid fa-user"></i>
                <h4>بيانات الزبون </h4>
            </div>
            <div class="cs-body grid">
                <div class="fields-container">

                    <div class="field {% if form.customer_name.errors %}has-error{% endif %}">
                        <label for="{{ form.customer_name.id_for_label }}">
                            {{ form.customer_name.label }}
                            <span class="required">*</span>
                        </label>
                        <div class="input">
                            {{ form.customer_name }}
                            <i class="fa-solid fa-user"></i>
                        </div>
                        {% if form.customer_name.errors %}
                            <span class="help-text"> {{ form.customer_name.errors.0 }} </span>
                        {% else %}
                            <span class="help-text">{{ form.customer_name.help_text }}</span>
                        {% endif %}
                        
                    </div>

                    <div class="field {% if form.customer_phone.errors %}has-error{% endif %}">
                        <label for="{{ form.customer_phone.id_for_label }}">
                            {{ form.customer_phone.label }}
                            <span class="required">*</span>
                        </label>
                        <div class="input">
                            {{ form.customer_phone }}
                            <i class="fa-solid fa-phone-volume"></i>
                        </div>
                        {% if form.customer_phone.errors %}
                            <span class="help-text"> {{ form.customer_phone.errors.0 }} </span>
                        {% else %}
                            <span class="help-text">{{ form.customer_phone.help_text }}</span>
                        {% endif %}
                        
                    </div>
                    
                    <div class="field {% if form.customer_location.errors %}has-error{% endif %}">
                        <label for="{{ form.customer_location.id_for_label }}">
                            {{ form.customer_location.label }}
                            <span class="required">*</span>
                        </label>
                        <div class="input">
                            {{ form.customer_location }}
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        {% if form.customer_location.errors %}
                            <span class="help-text"> {{ form.customer_location.errors.0 }} </span>
                        {% else %}
                            <span class="help-text">{{ form.customer_location.help_text }}</span>
                        {% endif %}
                        
                    </div>
                            
                </div>
                <div class="fields-container">

                    <div class="field checkbox-field  {% if form.free_delivery.errors %}has-error{% endif %}">
                        <div class="checkbox-control">
                            <label for="free_delivery">{{  form.free_delivery.label }}</label>
                            <input type="checkbox" name="free_delivery" id="free_delivery" {% if form.free_delivery.value %}checked{% endif %}>
                        </div>
                        {% if form.free_delivery.errors %}
                            <span class="help-text"> {{ form.free_delivery.errors.0 }} </span>
                        {% else %}
                            <span class="help-text">{{ form.free_delivery.help_text }}</span>
                        {% endif %}
                    </div>

                    <div class="field {% if form.note.errors %}has-error{% endif %}">
                        <label for="note">{{ form.note.label }}</label>
                        <div class="input">
                            <span class="counter" > 
                                <span class="current-c">0</span>/<span class="max-c"></span>
                            </span>
                            <textarea name="note" id="note"   rows="5" cols="40"  maxlength="500" required >{{ form.note.value|default:'' }}</textarea>
                        </div>
                        {% if form.note.errors %}
                            <span class="help-text"> {{ form.note.errors.0 }} </span>
                        {% else %}
                            <span class="help-text">{{ form.note.help_text }}</span>
                        {% endif %}
                    </div>
                    
                </div>

            </div>
        </div>

        <div class="cart-section ">
            <div class="cs-header">
                <i class="fa-solid fa-list-check"></i>
                <h4>ملخص الطلب <span></span></h4>
            </div>
            <div class="cs-body">
                <ul>
                    <li>
                        <p> إجمالي كمية المنتجات </p>
                        <span id="cart-total-qty">0</span>
                    </li>
                    <li>
                        <p>اجمالي سعر المنتجات</p>
                        <span id="cart-total-price">0<span class="currency" >د.ل</span> </span>
                    </li>
                </ul>
                <button class="add-btn">إتمام الطلب <i class="fa-solid fa-cart-plus"></i></button>

            </div>
        </div>

    </form>

{% endblock content %}

{% block out_container %}{% endblock out_container %}

{% block page_scripts %}

    <script src="{% static "js/fields.js" %}"></script>
    <script src="{% static "js/orders/search_products.js" %}"></script>
    <script src="{% static "js/orders/cart.js" %}"></script>
    <script src="{% static "js/orders/add_order_manually.js" %}"></script>
{% endblock %}