{% extends "partials/base.html" %}
{% load static %}

{% block page_head %}
    <link rel="stylesheet" href="{% static "css/tables.css" %} ">         
    <link rel="stylesheet" href="{% static "css/fields.css" %} ">      
    <link rel="stylesheet" href="{% static "css/orders.css" %} ">         
{% endblock page_head %}

{% block content %}

    <div class="section-header">
        <div class="section-content">
            <div class="section-icon order">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="section-details">
                <h1>إنشاء طلب</h1>
                <p>أضف المنتجات، ثم أدخل بيانات الزبون لإتمام الطلب.</p>
            </div>
        </div>
    </div>

    <div class="panel add-item-panel open ">

        <div class="panel-header">
            <h4><i class="fa-regular fa-square-plus primary-cl"></i> إضافة منتج </h4>
            <p>ابحث عن المنتج الذي تريد إضافته ثم قم بإختياره</p>
        </div>

        <form id="add_order_items_form" method="POST" data-url="" class="panel-content">
            {% csrf_token %}
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="search" id="product-search" class="search-input" autocomplete="off"
                    data-search-url="{% url "orders:search_products" sid=store.id %}"
                    placeholder="ابحث عن طريق اسم المنتج" 
                >
                <button type="submit">بحث</button>
            </div>

            <div class="search-results" id="search-results"  data-product-button-type="add-to-cart">
                <!-- سيتم عرض نتائج البحث هنا -->    
                
            </div>

        </form>


    </div>

    <form id="cart_form" hidden>

        <div class="cart-section ">
            <div class="cs-header">
                <i class="fa-solid fa-cart-shopping"></i>
                <h4>المنتجات في السلة <span id="cart-count">(0)</span></h4>
            </div>
            <div class="cs-body" id="cart-items" >

            </div>
            {% comment %} القالب الخاص ببطاقة عنصر السلة {% endcomment %}
            <template id="cart-item-template">
                <div class="cart-item">

                    <img class="item-image" src="{% static "images/deafult.jpg" %}" alt="صورة المنتج">

                    <div class="item-info">
                        <h5 class="item-name"></h5>

                        <div class="item-options">
                            <span class="item-color"></span>
                            <span class="item-size"></span>
                        </div>
                    </div>

                    <div class="item-quantity">
                        <span>الكمية</span>
                        <strong class="item-qty"></strong>
                    </div>

                    <div class="item-price">
                        <span>السعر</span>
                        <strong>
                            <span class="item-price-value"></span>
                            <span class="currency">د.ل</span>
                        </strong>
                    </div>

                    <div class="item-total">
                        <span>الإجمالي</span>
                        <strong>
                            <span class="item-total-value"></span>
                            <span class="currency">د.ل</span>
                        </strong>
                    </div>

                    <button
                        class="remove"
                        type="button"
                        aria-label="حذف المنتج"
                    >
                        <i class="fa-solid fa-trash"></i>
                    </button>

                </div>
            </template>
            
        </div>

        <div class="cart-section">
            <div class="cs-header">
                <i class="fa-solid fa-user"></i>
                <h4>بيانات الزبون </h4>
            </div>
            <div class="cs-body grid">
                <div class="fields-container">

                    <div class="field">
                        <label for="">اسم الزبون</label>
                        <div class="input">
                            <input type="text" placeholder="ادخل اسم الزبون الخاص بك ..." >
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <span class="help-text">نص امدة هنا نص المساعدة هنا</span>
                    </div>
                    
                    <div class="field">
                        <label for="">رقم الهاتف</label>
                        <div class="input">
                            <input type="text" placeholder="ادخل رقم هاتفك  ..." >
                            <i class="fa-solid fa-phone-volume"></i>
                        </div>
                        <span class="help-text">نص امدة هنا نص المساعدة هنا</span>
                    </div>

                    <div class="field">
                        <label for="">موقع الزبون</label>
                        <div class="input">
                            <input type="text" placeholder="ادخل اسم الزبون الخاص بك ..." >
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <span class="help-text">نص امدة هنا نص المساعدة هنا</span>
                    </div>
                            
                </div>
                <div class="fields-container">

                    <div class="field checkbox-field">
                        <div class="checkbox-control">
                            <label >توصيل مجاني</label>
                            <input type="checkbox" checked>
                        </div>
                        <span class="help-text">
                            تفعيل هذا الخيار يجعل المنتج ظاهرًا في المتجر
                        </span>
                    </div>

                    <div class="field">
                        <label for="">ملاحظة اضافية <span class="required">*</span></label>
                        <div class="input">
                            <span class="counter " >  <!-- ضيف كلاس كانسل او كومبليت حسب العدد -->
                                <span class="current-c">0</span> / <span class="max-c"> 500</span>
                            </span>
                            <textarea  placeholder="ادخل وصف المنتج ..." rows="5" cols="40"  maxlength="10" ></textarea>
                            <i class="fa-regular fa-note-sticky"></i>
                        </div>
                        <span class="help-text">نص المساعدة هنا نص المساعدة هنا</span>
                    </div>

                            
                </div>

            </div>
        </div>

        <div class="cart-section ">
            <div class="cs-header">
                <i class="fa-solid fa-list-check"></i>
                <h4>ملخص الطلب <span></span></h4>
            </div>
            <div class="cs-body">
                <ul>
                    <li>
                        <p> إجمالي كمية المنتجات </p>
                        <span id="cart-total-qty">0</span>
                    </li>
                    <li>
                        <p>اجمالي سعر المنتجات</p>
                        <span id="cart-total-price">0<span class="currency" >د.ل</span> </span>
                    </li>
                </ul>
                <button class="add-btn">إتمام الطلب <i class="fa-solid fa-cart-plus"></i></button>

            </div>
        </div>

    </form>

{% endblock content %}

{% block out_container %}{% endblock out_container %}

{% block page_scripts %}

    <script src="{% static "js/fields.js" %}"></script>
    <script src="{% static "js/orders/search_products.js" %}"></script>
    <script src="{% static "js/orders/cart.js" %}"></script>
    {% comment %} <script src="{% static "js/orders/add_order_manually.js" %}"></script> {% endcomment %}
{% endblock %}